<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
</head>
<body>

    <h1>Inter Datat</h1>
    <form  action="{{url_for('home')}}" method="post">
        {% for i in columns%}
        <label>{{i}}</label>
        <input type="text" name="{{i}}"><br><br>
        {%endfor%}
        <button type="submit">Submit</button>
    </form>
    <p>
        {{name}}
    </p>
    
</body>
</html>